.label {
    -fx-text-fill: black;
}

.product-box {
    -fx-background-radius: 25px;
    -fx-border-width: 0;
    -fx-background-color: #e799f1;
    -fx-border-color: #e799f1;
}

.product-box:hover {
    -fx-cursor: hand;
    -fx-background-color: #f1abfa;
    -fx-border-color: #f1abfa;
} 